{
  "openapi": "3.0.3",
  "info": {
    "title": "Sentience API",
    "description": "API Gateway for Sentience Platform - Web Content Extraction and Element Coordinate Mapping",
    "version": "1.0.0",
    "contact": {
      "name": "Sentience API Support",
      "email": "support@sentienceapi.com"
    }
  },
  "servers": [
    {
      "url": "https://api.sentienceapi.com",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Observation",
      "description": "Core endpoints for web observation"
    }
  ],
  "paths": {
    "/v1/observe": {
      "post": {
        "summary": "Observe and extract web content or element coordinates",
        "description": "Main endpoint for web content extraction. Routes requests to Reader or Geometry services based on mode.",
        "operationId": "observe",
        "tags": [
          "Observation"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token. Format: 'Bearer <JWT_TOKEN>'",
            "schema": {
              "type": "string",
              "pattern": "^Bearer .+$"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObserveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful observation",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ReaderModeResponse"
                    },
                    {
                      "$ref": "#/components/schemas/MapModeResponse"
                    },
                    {
                      "$ref": "#/components/schemas/VisualModeResponse"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "mode",
                    "mapping": {
                      "read": "#/components/schemas/ReaderModeResponse",
                      "map": "#/components/schemas/MapModeResponse",
                      "visual": "#/components/schemas/VisualModeResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsufficientCreditsError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionInactiveError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ObserveRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Target website URL.",
            "example": "https://news.ycombinator.com"
          },
          "mode": {
            "$ref": "#/components/schemas/ProcessingMode"
          },
          "format": {
            "$ref": "#/components/schemas/OutputFormat"
          },
          "contentLimit": {
            "type": "integer",
            "minimum": 1000,
            "maximum": 500000,
            "default": 50000,
            "description": "Max characters to return (Read Mode only)."
          },
          "options": {
            "$ref": "#/components/schemas/ObserveOptions"
          },
          "proxy": {
            "type": "string",
            "format": "uri",
            "description": "Optional residential proxy URL.",
            "example": "http://user:pass@proxy.example.com:8080"
          }
        }
      },
      "ProcessingMode": {
        "type": "string",
        "enum": [
          "read",
          "map",
          "visual"
        ],
        "default": "read",
        "description": "Processing mode selection."
      },
      "OutputFormat": {
        "type": "string",
        "enum": [
          "text",
          "markdown"
        ],
        "default": "markdown",
        "description": "Output format for text extraction."
      },
      "RenderQuality": {
        "type": "string",
        "enum": [
          "performance",
          "precision"
        ],
        "default": "performance",
        "description": "Rendering engine selection."
      },
      "ObserveOptions": {
        "type": "object",
        "description": "Fine-tuning options.",
        "properties": {
          "render_quality": {
            "$ref": "#/components/schemas/RenderQuality"
          },
          "limit": {
            "type": "integer",
            "minimum": 10,
            "maximum": 500,
            "description": "Max elements to return (Map/Visual mode)."
          },
          "filter": {
            "$ref": "#/components/schemas/ElementFilter"
          },
          "viewport": {
            "$ref": "#/components/schemas/Viewport"
          }
        }
      },
      "ElementFilter": {
        "type": "object",
        "description": "Criteria for filtering elements.",
        "properties": {
          "min_area": {
            "type": "integer",
            "default": 0
          },
          "min_z_index": {
            "type": "integer",
            "default": 0
          },
          "allowed_roles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allowed_tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Viewport": {
        "type": "object",
        "properties": {
          "width": {
            "type": "integer",
            "default": 1920
          },
          "height": {
            "type": "integer",
            "default": 1080
          }
        }
      },
      "ReaderModeResponse": {
        "type": "object",
        "description": "Response for 'read' mode",
        "required": [
          "status",
          "url",
          "content",
          "mode"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": ["read"],
            "default": "read"
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "content": {
            "type": "string"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "format": {
            "$ref": "#/components/schemas/OutputFormat"
          },
          "author": {
            "type": "string",
            "nullable": true
          },
          "published_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "word_count": {
            "type": "integer"
          },
          "reading_time_minutes": {
            "type": "integer"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "data": {
            "type": "object",
            "properties": {
              "metadata": {
                "$ref": "#/components/schemas/ResponseMetadata"
              }
            }
          }
        }
      },
      "MapModeResponse": {
        "type": "object",
        "description": "Response for 'map' mode",
        "required": [
          "status",
          "url",
          "interactable_elements",
          "mode"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": ["map"],
            "default": "map"
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "engine": {
            "$ref": "#/components/schemas/RenderQuality"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "layout_viewport": {
            "$ref": "#/components/schemas/LayoutViewport"
          },
          "interactable_elements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InteractableElement"
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "total_elements_extracted": {
            "type": "integer"
          },
          "filters_applied": {
            "$ref": "#/components/schemas/AppliedFilters"
          },
          "proxy_failure": {
            "$ref": "#/components/schemas/ProxyFailure",
            "nullable": true
          }
        }
      },
      "VisualModeResponse": {
        "type": "object",
        "description": "Response for 'visual' mode",
        "required": [
          "status",
          "url",
          "interactable_elements",
          "screenshot",
          "mode"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": ["visual"],
            "default": "visual"
          },
          "engine": {
            "type": "string",
            "enum": ["precision"],
            "default": "precision"
          },
          "source": {
            "type": "string",
            "enum": ["precision_visual"]
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "layout_viewport": {
            "$ref": "#/components/schemas/LayoutViewport"
          },
          "interactable_elements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InteractableElement"
            }
          },
          "screenshot": {
            "type": "string",
            "format": "byte"
          },
          "screenshot_error": {
            "type": "string",
            "nullable": true
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "total_elements_extracted": {
            "type": "integer"
          },
          "proxy_failure": {
            "$ref": "#/components/schemas/ProxyFailure",
            "nullable": true
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "engine": {
            "$ref": "#/components/schemas/RenderQuality"
          },
          "usedProxy": {
            "type": "boolean"
          },
          "proxy_failure": {
            "$ref": "#/components/schemas/ProxyFailure"
          }
        }
      },
      "AppliedFilters": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "nullable": true
          },
          "filter": {
            "$ref": "#/components/schemas/ElementFilter",
            "nullable": true
          }
        }
      },
      "InteractableElement": {
        "type": "object",
        "required": [
          "id",
          "tag",
          "role",
          "bbox",
          "is_visible"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "uid": {
            "type": "string",
            "nullable": true
          },
          "tag": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "selector": {
            "type": "string"
          },
          "bbox": {
            "$ref": "#/components/schemas/BoundingBox"
          },
          "is_visible": {
            "type": "boolean"
          },
          "z_index": {
            "type": "integer"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "nullable": true
            }
          },
          "states": {
            "$ref": "#/components/schemas/ElementStates",
            "nullable": true
          }
        }
      },
      "ElementStates": {
        "type": "object",
        "properties": {
          "is_disabled": {
            "type": "boolean"
          },
          "is_checked": {
            "type": "boolean"
          },
          "is_expanded": {
            "type": "boolean"
          }
        }
      },
      "BoundingBox": {
        "type": "object",
        "required": [
          "x",
          "y",
          "w",
          "h"
        ],
        "properties": {
          "x": {
            "type": "integer"
          },
          "y": {
            "type": "integer"
          },
          "w": {
            "type": "integer"
          },
          "h": {
            "type": "integer"
          }
        }
      },
      "LayoutViewport": {
        "type": "object",
        "required": [
          "width",
          "height"
        ],
        "properties": {
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "device_pixel_ratio": {
            "type": "number",
            "default": 1.0
          }
        }
      },
      "ProxyFailure": {
        "type": "object",
        "properties": {
          "failure_reason": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "fallback_successful": {
            "type": "boolean"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      },
      "InsufficientCreditsError": {
        "type": "object",
        "required": [
          "error",
          "code",
          "details"
        ],
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "enum": [
              "INSUFFICIENT_CREDITS"
            ]
          },
          "details": {
            "$ref": "#/components/schemas/CreditDetails"
          }
        }
      },
      "CreditDetails": {
        "type": "object",
        "required": [
          "credit_balance",
          "credits_needed",
          "allow_overage",
          "plan_tier"
        ],
        "properties": {
          "credit_balance": {
            "type": "integer"
          },
          "credits_needed": {
            "type": "integer"
          },
          "allow_overage": {
            "type": "boolean"
          },
          "plan_tier": {
            "$ref": "#/components/schemas/PlanTier"
          },
          "monthly_quota": {
            "type": "integer"
          },
          "upgrade_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "SubscriptionInactiveError": {
        "type": "object",
        "required": [
          "error",
          "code",
          "details"
        ],
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "enum": [
              "SUBSCRIPTION_INACTIVE"
            ]
          },
          "details": {
            "$ref": "#/components/schemas/SubscriptionDetails"
          }
        }
      },
      "SubscriptionDetails": {
        "type": "object",
        "required": [
          "is_enabled",
          "reason"
        ],
        "properties": {
          "is_enabled": {
            "type": "boolean"
          },
          "reason": {
            "type": "string",
            "enum": [
              "payment_failed",
              "subscription_cancelled"
            ]
          }
        }
      },
      "PlanTier": {
        "type": "string",
        "enum": [
          "free",
          "pro",
          "enterprise"
        ]
      }
    }
  }
}
