{
  "openapi": "3.0.3",
  "info": {
    "title": "Sentience API",
    "description": "API Gateway for Sentience Platform - Web Content Extraction and Element Coordinate Mapping",
    "version": "1.0.0",
    "contact": {
      "name": "Sentience API Support",
      "email": "support@sentienceapi.com"
    }
  },
  "servers": [
    {
      "url": "https://api.sentienceapi.com",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Observation",
      "description": "Core endpoints for web observation"
    }
  ],
  "paths": {
    "/v1/observe": {
      "post": {
        "summary": "Observe and extract web content or element coordinates",
        "description": "Main endpoint for web content extraction. Routes requests to Reader or Geometry services based on mode.",
        "operationId": "observe",
        "tags": [
          "Observation"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Sentience API Key. Format: 'Bearer <API_KEY>'",
            "schema": {
              "type": "string",
              "pattern": "^Bearer .+$"
            },
            "example": "Bearer sk_live_51Mz..."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObserveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful observation",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ReaderModeResponse"
                    },
                    {
                      "$ref": "#/components/schemas/MapModeResponse"
                    },
                    {
                      "$ref": "#/components/schemas/VisualModeResponse"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "mode",
                    "mapping": {
                      "read": "#/components/schemas/ReaderModeResponse",
                      "map": "#/components/schemas/MapModeResponse",
                      "visual": "#/components/schemas/VisualModeResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsufficientCreditsError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionInactiveError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description":